<div class="error">
  <div class="top-title">
    <p>500</p>
  </div>
  <div class="middle-title">

    <p><i class="fas fa-cogs icon"></i>INTERNAL SERVER ERROR<i class="fas fa-cogs icon"></i></p>
  </div>
  <div class="bottom-title">
    <p>Sorry, something went wrong<span class="blink"> _</span></p>
  </div>
  <div class="button">
    <div class="button-left">
      <a href="#">
        <i class="fas fa-home icon"></i>Home
      </a>
    </div>
    <div class="button-right">
      <a href="#">
        <i class="fas fa-search icon"></i>Search
      </a>
    </div>
  </div>
  <div class="contact">
    <a href="#" class="facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="in">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="#" div class="github">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>